  <%= form_for @team, :html => { :class => "form-horizontal task" } do |f| %>
    <% if @team.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@team.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="form-group">
<%= f.label :title, :class => 'control-label col-lg-2' %>
<div class="col-lg-10">
  <%= f.text_field :title, :class => 'form-control' %>
</div>
</div>

<div class="form-group">
<%= f.label :slack_id, :class => 'control-label col-lg-2' %>
<div class="col-lg-10">
  <%= f.text_field :slack_id, :class => 'form-control' %>
</div>
</div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    teams_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>




