<%- model_class = Team -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @team.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:slack_id) %>:</strong></dt>
  <dd><%= @team.slack_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              teams_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_path(@team), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<h1>Team Tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:stage) %></th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
<tbody>
<% @team.tasks.each do |task| %>
  <tr>
    <td><%= link_to task.id, team_task_path(@team, task) %></td>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.stage %></td>
    <td><%= task.level %></td>
    <td><%= task.score %></td>
    <td><%=l task.created_at %></td>
    <td>
      <%= link_to t('.show', :default => t("helpers.links.show")),
                  team_task_path(@team, task), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_team_task_path(@team, task), :class => 'btn btn-default btn-xs' %>
      <%= link_to 'unassign', 
                  unassign_team_task_path(task),
                  :class => 'btn btn-danger' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<h1>Team Users</h1>
<table class="table table-striped">
                <thead>
                  <tr>
                    <th><%= model_class.human_attribute_name(:id) %></th>
                    <th><%= model_class.human_attribute_name(:title) %></th>
                    <th><%= model_class.human_attribute_name(:email) %></th>
                    <th><%= model_class.human_attribute_name(:level) %></th>
                    <th><%= model_class.human_attribute_name(:user_id) %></th>
                    <th><%= model_class.human_attribute_name(:name) %></th>
                    <th><%= model_class.human_attribute_name(:created_at) %></th>
                    <th><%=t '.actions', :default => t("helpers.actions") %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @team.users.each do |user| %>
                    <tr>
                      <td><%= link_to user.id, team_user_path(@team, user) %></td>
                      <td><%= user.title %></td>
                      <td><%= user.email %></td>
                      <td><%= user.level %></td>
                      <td><%= user.user_id %></td>
                      <td><%= user.name %></td>
                      <td><%=l user.created_at %></td>
                      <td>
                        <%= link_to t('.show', :default => t("helpers.links.show")),
                        team_user_path(@team, user), :class => 'btn btn-default btn-xs' %>
                        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                    edit_team_user_path(@team, user), :class => 'btn btn-default btn-xs' %>
                        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                    team_user_path(@team, user),
                                    :method => :delete,
                                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                    :class => 'btn btn-xs btn-danger' %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>           



