<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @user.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:level) %>:</strong></dt>
  <dd><%= @user.level %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @user.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              team_users_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_user_path(@user), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>


<h1>User Tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:id) %></th>
      <th><%= Task.human_attribute_name(:title) %></th>
      <th><%= Task.human_attribute_name(:description) %></th>
      <th><%= Task.human_attribute_name(:stage) %></th>
      <th><%= Task.human_attribute_name(:level) %></th>
      <th><%= Task.human_attribute_name(:name) %></th>
      <th><%= Task.human_attribute_name(:user_id) %></th>
      <th><%= Task.human_attribute_name(:score) %></th>
      <th><%= Task.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </table>
    <% @user.tasks.each do |task| %>
      <tr>
      <table class="table table-striped">
        <td><%= link_to task.id, team_task_path(@team, task) %></td>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.stage %></td>
        <td><%= task.level %></td>
        <td><%= task.score %></td>
        <td><%=l task.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      team_task_path(@team, task), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_team_task_path(@team, task), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'unassign', 
                      unassign_team_task_path(task),
                      :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>    
      </table>
    <% end %>
  </tbody>
</table>

