<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= link_to "Sign in with Slack", user_slack_omniauth_authorize_path, :class => "btn btn-link"%>
<%= link_to "Teams", teams_path, :class => "btn btn-link"%>