<!DOCTYPE html>
<html>
  <head>
    <title>RocketTeamCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Choose team</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav">
    <li class="nav-item dropdown">
   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Teams
     </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <% if @teams.each do |team| %>
          <a class="dropdown-item" <%= link_to team.title, team %></a>
        <% end %>
        <% end %>
      </div>
     </li>
   </ul>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
